.cabeza-inicio{
  display: flex;
  padding-bottom: 10px;
  font-size: xx-large;
}
.inicio-cabeza  {
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  color: navy;
  font-size: xx-large;

}
.pro-inicio{
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  color: navy;
  font-size: xx-large;
}
.cabeza-inicio ul a{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  display: flex;
  padding-bottom: 10px;
  font-size: xx-large;
}
body{
    background: url(../img/videos-fondo-web-1140x713.jpg) no-repeat fixed center center;
    background-size: cover;
}